<li><img src="/uploads/slideshow/moto1.jpg" alt="" /></li>
<li><img src="/uploads/slideshow/moto2.jpg" alt="" /></li>
<li><img src="/uploads/slideshow/moto3.jpg" alt="" /></li>
<li><img src="/uploads/slideshow/moto4.jpg" alt="" /></li>
<li><img src="/uploads/slideshow/moto6.jpg" alt="" /></li>
<li><img src="/uploads/slideshow/moto7.jpg" alt="" /></li>
<li><img src="/uploads/slideshow/moto8.jpg" alt="" /></li>