{% extends 'AppBundle::layout.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block content %}
<div id="accueil">
<H1> <a href="{{ path('fos_user_profile_show') }}">{{'welcome' | trans}} {{ app.user.username }}</a> </H1>
({{ 'deconnect' | trans }})
</div> <!-- accueil -->
{% endblock content%}
{% block script %}
<script>
$( "#homepage-menu a" ).css({ "background":"#666" });
$( "#homepage-menu a" ).css({ "font-weight":"bold" });
</script>
{%  endblock script%}		
	