{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}Product{% endblock %}

{% block content %}

<h1>{{ 'product_homepage' | trans }}</h1>

<form action="{{ path('user_basket_list')}}" method="POST">
<h3>Vous pouvez choisir un produit...</h3>
<p class="space"></p>
<h4>Par type de produit:</h4>
<p class="space"></p>

{% include 'ClientBundle:Product:chooseCategory.html.twig' %}
<p class="space" style="clear:both;"></p>
<h4>ou par modèle...ou les deux</h4>

{%  include 'ClientBundle:Product:chooseModel.html.twig' %}


<div onclick="submit()">
<button >{{ 'record'|trans }}</button>
</div>
</form>

{% endblock content %}		
{% block script %}
<script>
$( "#command-menu a" ).css({ "background":"#666" });
$( "#command-menu a" ).css({ "font-weight":"bold" });


function submit(){

	document.location.replace="{{ path('user_basket_list')}}";
	return false;
}

</script>
{% endblock script %}	