{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}nameBasket{% endblock %}

{% block content %}

<h3>Le nom de votre panier.</h3>

{{  form_start(form) }}

{{ form_widget(form) }}

<input type='submit' value="{{ 'record'|trans }}"/>
{{ form_end(form) }}

{% endblock content %}
{% block script %}
<script>
$( "#command-menu a" ).css({ "background":"#666" });
$( "#command-menu a" ).css({ "font-weight":"bold" });
</script>
{% endblock script%}