
{% block content %}

<label for="{{ picture }}"> Select a file to upload</label>
<input type="file" name="{{ picture }}" value="{{ picture}}" id="{{ picture }}">

{% endblock %}		
{% block script %}
<script>

</script>
{% endblock script %}