{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}homepage{% endblock %}

{% block content %}

<h3>{{ 'home.welcome' | trans | raw }}</h3>

<p>{{ 'home.presentation' | trans | raw }}</p>

<p> {{ 'home.explication' | trans | raw }}</p>


{% endblock %}		
{% block script %}
<script>
$( "#home-menu a" ).css({ "background":"#666" });
$( "#home-menu a" ).css({ "font-weight":"bold" });

</script>
{% endblock script %}