{% extends 'ClientBundle::layout.html.twig' %}

{% block title %}Denied{% endblock %}

{% block content %}


<p>Bonjour</p>
<p>Vous n'avez pas de profil utilisateur enregistré sur ce site.<p>
<p>
<p>Si vous êtes déja inscrit, il faut vous connecter</p>

{% endblock content %}
{% block script %}
<script>
$( "#profile-menu a" ).css({ "background":"#666" });
$( "#profile-menu a" ).css({ "font-weight":"bold" });
</script>
{% endblock script %}
